name: Convert Markdown to HTML

on:
  push:
    paths:
      - 'index.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Convert Markdown to HTML
      run: |
        apt-get update
        apt-get install -y pandoc
        pandoc -s index.md -o index.html

    - name: Commit and Push
      run: |
        git config --global user.name 'oddfeed'
        git config --global user.email '144010979+oddfeed@users.noreply.github.com'
        git add index.html
        git commit -m "Convert Markdown to HTML"
        git push
